*.o
*.hi
*~
*.ld
/src/Version.lhs
/doc/*.tex
/doc/*.sty
/doc/Interactive*.lhs
/doc/Guide2.pdf
/config.log
/config.mk
/config.status
*.aux
*.log
*.ptb
*.toc
*.out
/lhs2TeX.1
/lhs2TeX.fmt
/lhs2TeX.sty
/lhs2TeX
/Lhs2TeX
